<!DOCTYPE html>
<html lang="en" data-ng-app="selfcareApp" >
<head>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="../images/mlm.PNG" />
	<title>MLM account</title>
	<style>[data-ng-cloak] { display: none !important; }</style>
	<style>
	   input.marginbottom0px {
	      width:200px !important;
		  margin-bottom:20px !important;
		  float:right !important;
	   }
	</style>
	<link rel="stylesheet" href="./css/bootstrap-combined.min.css" />
	<link rel="stylesheet" href="./css/bootswatch.css" />
	<link rel="stylesheet" href="./css/font-awesome.min.css" />
	<link rel="stylesheet" href="./css/app.css" />
	<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" href="./css/bootstrap-timepicker.css" />
	<link rel="stylesheet" href="./css/jquery-ui.css" />
	<link rel="stylesheet" href="./css/extrastyles.css" />
	<link rel="stylesheet" href="./css/angular-ui-switch.css" />
	<link rel="stylesheet" href="./css/bootstrap-switch.css" />
	<link rel="stylesheet" href="./css/checkbox_switch.css" />
	
	<script type='text/javascript' src='./loaderFiles.js'></script>
</head>
<body id="top" data-spy="scroll" data-target=".subnav" data-offset="80" data-ng-controller="SelfcareMainController"><!--class="container well bgimg margintop20"-->
     <div data-ng-hide="domReady" style="position: absolute;margin-top:250px; top:0px;left:600px;">
        <div class="centered snow" >
            <img src="../images/loading.gif" >
        </div>    
    </div>
    
    <div data-ng-hide="isLandingPage || currentSession.user != null" data-ng-cloak >
    
        <div class="container well bgimg margintop20" data-ng-cloak data-ng-hide="isLandingPage || currentSession.user != null" style="height: 580px;margin-bottom: 20;">
            <div class="row form-search paddedbottom" style="width:920px; margin:0 auto;">
            
                <div style="display:none">
                    <table class="fullwidth" id="header" style="-webkit-box-shadow: 0 6px 4px -4px #BABABA;box-shadow: 0 6px 4px -4px #BABABA;">
                      <tr>
                        <td style="padding:10px; background:none;" width="100%">
                            <div id="header-logo" class="">
                                <img src="../images/mlm.PNG" class="logo">
                                <span></span>
                            </div>
                        </td>
                      </tr>
                     </table>
                </div>
                
                <div id="header-logo" class="">
                    <img src="../images/mlm.PNG" class="logo">
                    <span></span>
                </div>
                
                
                <div class="alert alert-success" data-ng-repeat="msgs in infoMsgs">
                    <table>
                        <tr><td colspan="msgs.names.length"><span><img ng-src="{{msgs.image}}" width="30"></span></td>
                        <td><span data-ng-repeat="msg in msgs.names">
                                <strong class="marginleft40" >{{msg.name | translate}}</strong><br/>
                            </span>
                        </td>
                        </tr>
                    </table> 
                </div>
                
                <table class="fullwidth">
                    <tr>
                        <td colspan="2"> 
                            <table class="fullwidth">
                                <tr>
                                <td width="57%" class="paddingleftnone paddingleft7"></span></h2></td>
                                <td class="paddingleftnone"></span></h2></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                       <td class="indextdbox">
                            <div data-ng-form="registerForm" novalidate data-ng-controller="SignUpFormController">
                                <div class="row paddedbottom pull-left border-box-shape boxmaxheight" style="max-width: 430px;">
                                     <div class="marginround25 fontsize16 fontweight700 lightbluecolor" style="margin-bottom: 10px;">
                                        <strong class="fontsize22">Registration</strong>
                                     </div>
                                     <table style="margin: 10px 25px;">
                                        
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                  <div class="col-sm-3">
                                                    <input type="file" file-model="clientImage">
                                                  </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="cafId" data-ng-model="registerParams.cafId" data-ng-onblur="cafIdChange(registerParams.cafId)" class="input-medium" placeholder="Referal Id" required  data-late-Validate>
                                                <div  data-ng-show="registerForm.cafId.$invalid">
                                                  <small class="error" data-ng-show="registerForm.cafId.$error.req">
                                                      Referal Id should not be blank.
                                                  </small>
                                              </div>
                                              <span class="col-sm-3 mt5 pl0" ng-show="displayName">( {{displayName}} )</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="firstname" data-ng-model="registerParams.firstname" class="input-xtra-large" placeholder="First Name" required data-ng-minlength=3 data-late-Validate>
                                                <span data-ng-show="registerForm.firstname.$invalid">
                                                 <small class="error" data-ng-show="registerForm.firstname.$error.req">
                                                    First Name should not be blank
                                                 </small>
                                                 <small class="error" data-ng-show="registerForm.firstname.$error.minlength && !registerForm.firstname.$error.req">First Name is required at least 3 characters</small>
                                             </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="lastname" data-ng-model="registerParams.lastname" class="input-xtra-large" placeholder="Last Name" data-ng-pattern="/^[a-zA-Z0-9\s]+$/" required data-ng-minlength=3 data-late-Validate/>
                                              <span  data-ng-show="registerForm.lastname.$invalid">
                                                <small class="error" data-ng-show="registerForm.lastname.$error.pattern">
                                                  Allow alphanumeric and spaces only!</small>
                                                  <small class="error" data-ng-show="registerForm.lastname.$error.req">
                                                      Last Name should not be blank
                                                  </small>
                                                  <small class="error" data-ng-show="registerForm.lastname.$error.minlength && !registerForm.lastname.$error.req">Last Name is required at least 3 characters</small>
                                              </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" data-ng-model="registerParams.phone" class="input-xtra-large" placeholder="Mobile Number" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" name="phone" maxlength="10" required  data-late-Validate/>
                                                  <div data-ng-show="registerForm.phone.$dirty && registerForm.phone.$invalid">
                                                      <small class="error" data-ng-show="registerForm.phone.$error.pattern">Invalid Mobile Number</small>
                                                  </div>
                                                  <span  data-ng-show="registerForm.phone.$invalid">
                                                      <small class="error" data-ng-show="registerForm.phone.$error.req">
                                                          Mobile Number should not be blank
                                                      </small>
                                                  </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="email" name="email" data-ng-model="registerParams.email" class="input-xtra-large" placeholder="{{'label.email' | translate}}" required  data-late-Validate/>
                                              <span  data-ng-show="registerForm.email.$invalid">
                                                  <small class="error" data-ng-show="registerForm.email.$error.req">
                                                      Email should not be blank
                                                  </small>
                                              </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="submit"  class="btn btn-primary loginbtn " data-ng-disabled="registerForm.$invalid" data-ng-hide="isProcessing" data-ng-click="register()">
                                                        Register
                                                </button> 
                                                <button class="btn loginbtn" data-ng-show="isProcessing">
                                                    {{'label.pleasewait' | translate}}<i class="icon-refresh icon-spin"></i>
                                                </button> 
                                            </td>
                                        </tr>
                                        
                                        </table>
                                        
                                </div>
                            </div>
                        </td>
                        <td class="indextdbox">
                            <div data-ng-form="signInForm" data-ng-controller="SignInFormController">
                                <div class="row paddedbottom pull-left border-box-shape boxmaxheight" style="max-width: 430px;">
                                     <div class="marginround25 fontsize16 fontweight700 lightbluecolor" style="margin-bottom: 10px;">
                                        <strong class="fontsize22">{{'label.login.existuser' | translate}}</strong>
                                     </div>
                                     <div style="clear:both; margin:0 25px;">
                                        {{'label.registered.customer.pleaselogin' | translate}}
                                     </div>
                                     <table style="margin: 10px 25px;">
                                        <tr>
                                            <td>
                                                <div class="error" data-ng-repeat="error in loginErrorMsgs">
                                                    <strong>*{{error.name | translate}}</strong>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input data-ng-autofocus="true" type="text" data-ng-model="loginCredentials.username" class="input-xtra-large" 
                                                data-ng-disabled="signInProcessLoading" placeholder="{{'label.email' | translate}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input id="pwd"  type="password" data-ng-model="loginCredentials.password"  class="input-xtra-large"
                                            data-ng-disabled="signInProcessLoading" placeholder="{{ 'label.password' | translate }}"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="pull-right forgotpwd" data-ng-click="forgotPwdPopup()"><a>{{'label.forgot.password' | translate}}</a></div>
                                                <button type="submit"  class="btn btn-primary loginbtn " data-ng-hide="isProcessing" data-ng-click="login()">
                                                        {{ 'btn.login' | translate }}
                                                </button> 
                                                <button class="btn loginbtn" data-ng-show="isProcessing">
                                                    {{'label.pleasewait' | translate}}<i class="icon-refresh icon-spin"></i>
                                                </button> 
                                            </td>
                                        </tr>
                                        
                                        </table>
                                        
                                </div>
                            </div>
                        </td>
                     </tr>
                </table>
             </div>
        </div>
	</div>
	<div data-ng-class="{fullscreen:true,blockui:blockUI==true}" id="main" data-ng-cloak data-ng-hide="currentSession.user == null" class="bg_login">
        <div id="mifos-reskin-body-container" style="background-color: #ebeff1">
            <nav id="mifos-reskin-side-nav"  ng-scrollbar>
              <div class="left-nav">
                <ul>
                  <li>
                    <div id="header-logo" class="navbar" style="text-align: center;margin-bottom: 0;">
                      <span></span>
                    </div>
                  </li>
                  <li> <a class="black" href="#/profile"> <i class="fa fa-user"></i> <span>Profile</span> </a> </li>
                  <li> <a class="black" href="#/address"> <i class="fa fa-tags"></i> <span>Address</span> </a> </li>
                  <li> <a class="black" href="#/shops"> <i class="fa fa-laptop"></i> <span>Shops</span> </a> </li>
                  <li><a href="#/changepwd"><i class="fa fa-unlock-alt"></i><span>{{'label.change.password' | translate}}</span></a></li>
                  <li><a href="#/addclientdocument/{{selfcare_sessionData.clientId}}"><i class="fa fa-upload"></i><span>{{'button.documentuploads' | translate}}</span></a></li>
                  <li> <a class="black" href="#/referaltree"> <i class="fa fa-sitemap"></i> <span>Referal Tree</span> </a> </li>
                  <li> <a class="black"> <i class="fa fa-hand-o-right"></i> <span>About Us</span> </a> </li>
                  <li> <a class="black" data-ng-click="signout()"> <i class="fa fa-sign-out"></i> <span>logout</span> </a> </li>
                </ul>
              </div>
            </nav>
          </div>
		 <div class="navbar navbar-fixed-top container">
	        <div class="navbar-inner" >
	            <div class="container">
	                                    
                    <div id="header-logo" class="navbar"  style="margin-bottom: 0;">
						<img src="../images/mlm.PNG" class="logo">
						<span></span>
					</div>
                    
	                <div class="nav-collapse collapse containerDinamic" id="main-menu" style="float:left; width:100%;">
	                    <ul class="nav" id="main-menu-left" data-ng-hide="isRegClientProcess" style="float:left;">
                           <!--  <li><a href="#/profile" data-ng-class="{ activate: isActive('/profile') }"><i class="fa fa-user"></i>&nbsp;&nbsp;{{'label.profile' | translate}}</a></li> -->
                            <!-- <li><a data-ng-click="redeemFun()" data-ng-hide="!isRedemptionConfig"><i class="fa fa-book"></i>&nbsp;&nbsp;{{'label.redeem' | translate}}</a></li>
                            <li><a href="#/accountinfo" data-ng-class="{ activate: isActive('/accountinfo') }"><i class="fa fa-bookmark"></i>&nbsp;&nbsp;{{'label.account.info' | translate}}</a></li>
                            <li><a href="#/services" data-ng-class="{ activate: isActive('/services') }"><i class="fa fa-list"></i>&nbsp;&nbsp;{{'label.view.modify.pakages' | translate}}</a></li>
                            <li><a href="#/events" data-ng-class="{ activate: isActive('/events') }"><i class="icon-list icon-white"></i>&nbsp;{{'label.ondemands'|translate}}</a></li>
                            <li><a href="#/orderservices" data-ng-class="{ activate: isActive('/orderservices') }"><i class="fa fa-folder-open"></i>&nbsp;&nbsp;Services</a></li>
                            <li><a href="#/statements" data-ng-class="{ activate: isActive('/statements') }"><i class="fa fa-tasks"></i>&nbsp;&nbsp;{{'label.bill.statements' | translate}}</a></li>                            
                            <li><a href="#/tickets"  data-ng-class="{ activate: isActive('/tickets') }"><i class="fa fa-ticket"></i>&nbsp;&nbsp;{{'link.tickets'|translate}}</a></li> -->
                            <!-- <li><a href="{{webtvURL}}" data-ng-click="isWebtvClick = true"><i class="icon-facetime-video icon-white"></i>{{'label.webtv'|translate}}</a></li> -->
                            <!-- <li class="dropdown" id="preview-menu">
	                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i>&nbsp;&nbsp;{{selfcare_userName}}&nbsp;<b class="caret"></b>
	                            </a>
	                            <ul class="dropdown-menu">
	                            	<li><a href="#/changepwd"><i class="fa fa-unlock-alt"></i>&nbsp;&nbsp;{{'label.change.password' | translate}}</a></li>
	                            	<li data-ng-show="iskortaTokenAvailable"><a href="#/changekortatoken"><i class="icon-cog"></i>&nbsp;&nbsp;{{'label.change.kortatoken' | translate}}</a></li>
	                            </ul>
	                        </li>
                            <li class="marginright20 pull-right"><a id="logout" data-ng-click="signout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;{{'label.signout' | translate}}</a></li> -->
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="container containerDinamic fullscreen preview" style="min-height:430px;">
	      <div>
	        <div class="row-fluid">
	            <div class="span12 pull-right">
	                <div data-ng-view style="padding: 10px 20px;"></div>
	            </div>
	            <hr>
	        </div>
	       </div>
	    </div>
    </div>
      <script type="text/ng-template" id="forgotpwdpopup.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'header.forgot.password' | translate}}</h3>
                    </div>
				<form name="forgotForm" novalidate="" class="form-horizontal ">
						<div class="control-group">
       						<div class="controls">
								<span class="control-label" style="color:red;" ng-show="stmError.length>0">{{stmError | translate}}</span>
                    		</div>
						</div>  
                    <div class="modal-body modal-small" style="padding:10px 0px 0px 35px;" >
                       	<div class="control-group">
							<label class="control-label" style="font-size: 13px; width: 180px; padding-top: 7px;">Enter your email address: <span class="required">*</span></label>
							<div class="controls" style="margin-left: 10px; float: left; padding: 4px 10px 0 0;">
							   <input type="email" id="email" ng-model="email" required/>
							</div>	
						</div>
                    </div>
					<div class="modal-footer" ng-hide="isProcessing" style="padding-right: 55px;">
                        <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'btn.cancel' | translate}}</button>
                        <button id="submit" class="btn btn-primary" ng-disabled="!forgotForm.$valid" ng-click="accept(email)" >{{'label.confirm' | translate}}</button>
                    </div>
					<div class="modal-footer" ng-show="isProcessing">
						<span class="btn">{{'label.pleasewait' | translate}}
							<i class="icon-refresh icon-spin"></i>
						</span>
					</div>
				<form>
      </script>
      <script type="text/ng-template" id="forgotpwdpopupsuccess.html">
                    
                    <div class="modal-body modal-small" style="padding:25px 0px 0px 35px;">
                       	<div class="control-group">
							<div class="controls">
							   {{'title.verify.emailid' | translate}} 
							</div>	
						</div>
                    </div>
					<div class="modal-footer">
                        <a id="submit" class="btn btn-primary" ng-click="done()">{{'btn.done' | translate}}</a>
                    </div>
      </script>
       <script type="text/ng-template" id="messagespopup.html">
         <div class="modal-body modal-medium">     
         <div class="alert alert-success" data-ng-repeat="msgs in popUpMsgs">
			   <table><tr>
			   		<td colspan="msgs.names.length" >
						<span><img ng-src="{{msgs.image}}" width="30"></span>
					</td>
	         		<td><span data-ng-repeat="msg in msgs.names">
	         				<strong class="marginleft40" >{{msg.name | translate}}</strong><br/>
	         			</span>
	         		</td></tr>
			   </table> 
			</div>
          </div>
		 <div class="modal-footer">
           <a id="submit" class="btn btn-primary" ng-click="approve()">{{'btn.done' | translate}}</a>
         </div>
      </script>
      <script type="text/ng-template" id="redemptionpop.html">
    	<div class="modal-header silver">
        	<h3 class="bolder">{{'label.redeem' | translate}}</h3>
        </div>
        <div class="modal-body" style="height:100px;">
		  <form name="redeemFormPopup" novalidate>
            <div class="control-group">
            	<label class="control-label">{{ 'label.voucher.number'| translate }}<span class="required">&nbsp;*</span></label>
                <div class="controls">
                	 <input type="text" id="pinNumber" data-ng-autofocus="true" ng-model="formData.voucherNumber" placeholder= "{{ 'placeholder.enter.voucher.number' | translate }}"
							data-ng-onblur="voucherNumberValidationFun(formData.voucherNumber)" required data-late-Validate><br/>
				     <small class="error" data-ng-show="isInValidVoucher">{{'error.invalid.voucher'|translate}}</small> 
   	                 <small class="error" data-ng-show="isDateExpired">{{'error.voucher.dateexpiry'|translate}}</small>
					 <small class="error">{{voucherError | translate}}</small>
                </div>
            </div>
		  </form>
        </div>
        <div class="modal-footer" ng-hide="isProcessing">
        	<button id="cancel" class="btn" ng-click="cancel()">{{'btn.cancel' | translate}}</button>
            <button id="submit" class="btn btn-primary" ng-click="confirm(formData.voucherNumber)" ng-disabled="!redeemFormPopup.$valid">{{'label.confirm' | translate}}</button>
        </div>
		<div class="modal-footer" ng-show="isProcessing">
			<span class="btn">{{'label.pleasewait' | translate}}
				<i class="icon-refresh icon-spin"></i>
			</span>
		</div>
	</script>
</body>
</html>
