<div data-ng-controller="AccountInfoController" >
	 
    <h3><strong>{{'label.account.info'|translate}}</strong></h3>
    
	<!-- <hr class="marginbottom" /> -->
	<tabset >
    
    <!--  ============================ Account Profile tab ================================= -->
		<tab class="tabclass" heading="{{'label.account.profile' | translate}}"><br>
            <form name="editprofileform" class="form-horizontal well"  data-ng-submit="submit()" style="line-height: 10px;" >
            <br/>
                <div class="error" data-ng-show="successmsg" style="line-height: 10px;" >
                    <label>Details are updated successfully</label>
                </div>
            <div class="error" data-ng-show="errorStatus || errorDetails" style="line-height: 10px;" >
                    <label>{{'label.contract.error' | translate}}</label>
                    <label data-ng-show="errorStatus">{{errorStatus}}</label>
                    <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
                </div>
                <fieldset style="line-height: 10px;" >
                    <table style="width:875px">
                        <tr>
                            <td valign="top">
                                <div class="control-group">
                                   <label class="control-label">{{'label.customer.name' | translate}}&nbsp;<span class="required">*</span></label>
                                   <div class="controls">
                                     <input data-ng-autofocus="true" name="fullName" type="text" data-ng-model="clientData.displayName" placeholder= "{{'label.customer.name' | translate}}" required  data-late-Validate/>
                                   </div>
                                </div>
                            </td>
                            <td valign="top">
                              <div class="control-group">
                                <label class="control-label">{{'label.mobilephone' | translate}}&nbsp;<span class="required">*</span></label>
                                <div class="controls">
                                  <input name="phone" type="text" data-ng-model="clientData.phone" placeholder= "{{'label.mobilephone' | translate}}" data-ng-minlength="7" maxlength="15"
                                            data-ng-pattern="/^\d{1,15}$/" required  data-late-Validate/><br/>
                                    <span data-ng-show="editprofileform.phone.$invalid">
                                        <small class="error" data-ng-show="editprofileform.phone.$error.pattern">{{'form.error.number'|translate}}</small>
                                        <small class="error" data-ng-show="editprofileform.phone.$error.minlength">{{'form.error.number.digits.atleast'|translate}}</small>
                                    </span>
                                </div>
                              </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                            <div class="control-group">
                              <label class="control-label">{{'label.telephone.number' | translate}}&nbsp;</label>
                              <div class="controls">
                                <input name="telePhone" type="text" data-ng-model="clientData.homePhoneNumber" placeholder= "{{'label.telephone.number' | translate}}" data-ng-minlength="7" maxlength="15"
                                            data-ng-pattern="/^\d{1,15}$/" /><br/>
                                <span data-ng-show="editprofileform.telePhone.$invalid">
                                   <small class="error" data-ng-show="editprofileform.telePhone.$error.pattern">{{'form.error.number'|translate}}</small>
                                   <small class="error" data-ng-show="editprofileform.telePhone.$error.minlength">{{'form.error.number.digits.atleast'|translate}}</small>
                                </span>
                              </div>
                            </div>
                           </td>
                           <td valign="top">
                                <div class="control-group" style="margin-bottom:10px;" data-ng-show="isConfigNationalId">
                                  <label class="control-label">{{ 'label.nationalid' | translate }}&nbsp;<span class="required">*</span></label>
                                   <div class="controls">
                                       <input type="text" data-ng-model="clientData.externalId" name="externalId" placeholder= "{{ 'placeholder.enter.nationalid.example' | translate }}" maxlength="11"
                                               data-ng-onblur="nationalIdValidationFun(clientData.externalId)"/><br/>
                                       <small>{{'label.pattern'|translate}}{{'hint.nationaid.pattern'|translate}}</small><br/>
                                       <small class="error" data-ng-hide="nationalIdvalue">{{'form.error.nationalid.pattern'|translate}}</small>
                                   </div>
                                </div>	
                                <div class="control-group" data-ng-hide="isConfigNationalId">
                                   <label class="control-label">{{ 'label.nationalid' | translate }}&nbsp;</label>
                                    <div class="controls">
                                      <input type="text" data-ng-model="clientData.externalId" name="externalId" placeholder= "{{ 'label.nationalid' | translate }}" maxlength="11"/><br/>
                                    </div>
                               </div>
                            </td>
                        </tr>
                        <tr style="display: none;"> 
                            <td valign="top">
                                <div class="control-group">
                                  <label class="control-label">{{'label.isautobilling' | translate}}&nbsp;</label>
                                  <div class="controls" style="margin-top: 5px;">
                                    <!--<input name="isautobilling" type="checkbox" data-ng-model="isautobilling" data-ng-change="updateAutoBilling(isautobilling)" style="margin-top:9px;" /><br/>-->
                                    <input type="checkbox" id="isautobilling" name="isautobilling" data-bs-switch data-ng-model="isautobilling" data-ng-change="updateAutoBilling(isautobilling)" data-readonly="readonly" data-size="mini" data-on-color="success" data-off-color="danger" data-on-text="Yes" data-off-text="N0" style="margin-top: 10px;" ><br/>
                                  </div>
                                </div>
                            </td>	
                            <td colspan="2" align="right">
                                <a id="cancel" href="#/profile"><button type="reset" class="btn">{{'btn.cancel' | translate}}</button></a>
                                <button id="submit" type="submit" data-ng-show="isConfigNationalId" class="btn btn-primary" data-ng-disabled="!editprofileform.$valid||!clientData.externalId||!nationalIdvalue">{{'btn.save' | translate}}</button>
                                <button id="submit" type="submit" data-ng-hide="isConfigNationalId" class="btn btn-primary" data-ng-disabled="!editprofileform.$valid">{{'btn.save' | translate}}</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
	
		<div data-ng-if="isClientAdditionalData">
			
			<div class="subheader">
                <strong>{{'link.additionalinfo' | translate}}</strong>
                
                <button type="button" class="btn btn-primary" ng-click="(!(editInfoBtn = !editInfoBtn) && funMessage())"  data-ng-show="editInfoBtn" style="float:right; padding:1px 6px;"><i class="fa fa-pencil"></i>&nbsp;&nbsp;{{'label.edit.info' | translate}}</button>
              
            </div>
			
			
			<form name="editableForm" class="form-horizontal well"  data-ng-submit="addinfosubmit()">	
					<fieldset>
						<table style="width:875px">
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label">{{'label.client.gender' | translate}}</label>
										<div class="controls"><select data-ng-model="clientData.gender"data-ng-options="genderData.id as genderData.mCodeValue for genderData in genderDatas"
												ng-disabled="editInfoBtn"></select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">{{'label.client.nationality' | translate}}</label>
										<div class="controls">
											<select data-ng-model="clientData.nationality" data-ng-options="nationalityData.id as nationalityData.mCodeValue for nationalityData in nationalityDatas"
												ng-disabled="editInfoBtn"></select>
										</div>
									</div>
                                    <div class="control-group">
										<label class="control-label">{{'label.client.dateofbirth' | translate}}</label>
										<div class="controls">
											<input type="text" datepicker-pop="dd MMMM yyyy" disabled data-ng-model="date.dateOfBirth" is-open="opened"
												min="minDate" max="maxDate" date-disabled="disabled(date, mode)" ng-disabled="editInfoBtn" />
										</div>
									</div>
									<!--<div class="control-group">
										<label class="control-label">{{'label.client.jobtitle' | translate}}</label>
										<div class="controls">
											<input type="text" data-ng-model="clientData.jobTitle" ng-disabled="editInfoBtn" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">{{'label.client.preferlanguage'| translate}}</label>
										<div class="controls">
											<select data-ng-model="clientData.preferredLang" ng-disabled="editInfoBtn" data-ng-options="languagesData.id as languagesData.mCodeValue for languagesData in languagesDatas"></select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">{{'label.client.remarks' | translate}}</label>
										<div class="controls">
											<input type="text" data-ng-model="clientData.remarks"ng-disabled="editInfoBtn" />
										</div>
									</div>-->
								</td>
								<td>
									<div class="control-group">
										<label class="control-label">{{'label.client.identificationtype'| translate}}</label>
										<div class="controls">
											<select data-ng-model="clientData.idType"ng-disabled="editInfoBtn"
												data-ng-options="customeridentificationData.id as customeridentificationData.mCodeValue for customeridentificationData in customeridentificationDatas"></select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">{{'label.client.identificationnumber'| translate}}</label>
										<div class="controls">
											<input type="text" data-ng-model="clientData.idNumber"ng-disabled="editInfoBtn" />
										</div>
									</div>
                                    <div class="control-group">
										<label class="control-label">{{'label.client.preferredcommunication'| translate}}</label>
										<div class="controls">
											<select data-ng-model="clientData.preferredCommunication"ng-disabled="editInfoBtn"
												data-ng-options="cummunitcationData.id as cummunitcationData.mCodeValue for cummunitcationData in cummunitcationDatas"></select>
										</div>
									</div>
									<!--<div class="control-group">
										<label class="control-label">{{'label.client.agegroup' |translate}}</label>
										<div class="controls">
											<select data-ng-model="clientData.ageGroup"ng-disabled="editInfoBtn"
												data-ng-options="ageGroupData.id as ageGroupData.mCodeValue for ageGroupData in ageGroupDatas"></select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">{{'label.client.utscustomerid'| translate}}</label>
										<div class="controls">
											<input type="text" data-ng-model="clientData.utsCustomerId"ng-disabled="editInfoBtn" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">{{'label.client.financeid'| translate}}</label>
										<div class="controls">
											<input type="text" data-ng-model="clientData.financeId" ng-disabled="editInfoBtn" />
										</div>
									</div>-->
								</td>
							</tr>
							<tr>
								<td colspan="2" align="right" data-ng-show="!editInfoBtn">
									<button type="button" class="btn" ng-click="editInfoBtn = !editInfoBtn">{{'btn.cancel' | translate}}</button>
									<button type="submit" class="btn btn-primary">{{'btn.save'| translate}}</button>
								</td>
							</tr>
                            <tr>
                                <td colspan="2">
                                    <br/><span class="required">*</span>&nbsp;Required details
                                </td>
                            </tr>
						</table>
					</fieldset>	
				</form>
			</div>
		</tab><!--  ============================ Account Profile End ================================= -->
	<!--  ============================ Account tab ================================= -->
	<tab class="tabclass" heading="{{'label.account.details' | translate}}" style="display:none">
		<!--<div class="body"><br>
			&nbsp;&nbsp;&nbsp;<strong>Details of your  Account are given below</strong>
		<br></div>-->
		<div class="body">
            <table class="table margintop10">
                <thead>
                    <tr class ="bluebg drakbluebg">
                        <th >{{'table.header.list.subscribedid'|translate}}</th>
                        <th >{{'table.header.list.accountstatus'|translate}}</th>
                        <th >{{'table.header.list.accountbalance'|translate}}</th>
                        <th >{{'table.header.list.duedate'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding-left: 25px;">{{clientData.accountNo}}</td>
                        <td style="padding-left: 3px;"><i class="{{data.accountstatus.value | StatusLookup}}"> </i>{{clientData.status.value}}</td>
                        <td style="padding-left: 3px;">{{clientData.balanceAmount}}</td>
                        <td style="padding-left: 3px;" >{{statementsData.currentPageItems[0].dueDate}}</td>
                    </tr>
                </tbody>
			</table>
		</div>
	</tab>
	<!-- =================================Account Profile end ===================================== -->
 	<!-- =================================Device tab here ===================================== -->
	<tab  class="tabclass" heading="Devices" select="getOneTimeSale()" active="SaleTab">
		<!--<div class="body"><br>
		&nbsp;&nbsp;&nbsp;<strong>Details of all the Devices associated with your account are given below</strong>
		<br><br></div>-->
		<input data-ng-model="filterText" type="text" placeholder="Search" class="filterText" style="margin-top: -25px;">
		<div class="tabbable">
			<!--<ul class="nav nav-tabs" style="font-weight: bold;">
				<li class={{eventsaleC}} ><a data-ng-click="eventsaleTab()"
					data-toggle="tab">{{'label.device.sale' | translate}}</a></li>
				<li class={{mydeviceC}}><a data-ng-click="getAllOwnHardware()"
					data-toggle="tab">{{'label.own.device' | translate}}</a></li>
			</ul>-->
				<div class="tab-content">
					<div id="pane1" class="tab-pane" data-ng-class="{active: eventsaleC}">
					<!--<input data-ng-model="filterText" type="text" class="span marginbottom0px" style="float: right !important; margin-bottom: 20px !important; width: 975px !important;" placeholder="Search"><br/>-->
						<div class="body">
                            <br/>
							<table class="table body" style="margin-top: -10px;">
								<thead>
									<tr class ="bluebg drakbluebg">
										<th>{{'table.header.list.boxtype'|translate}}</font></th>
										<th>{{'table.header.list.stbsno'|translate}}</font></th>
										<!--<th>{{'table.header.list.proviseno'|translate}}</font></th>
										<th>{{'table.header.list.typeofconnection'|translate}}</font></th>-->
										<th>{{'table.header.list.status'|translate}}</font></th>
									</tr>
								</thead>
								<tbody>
									<tr class="pointer-main" data-ng-repeat="onetimesale in onetimesales  | filter:filterText">
										<td style="padding-left: 25px;">{{onetimesale.itemCode}}</td>
										<td>{{onetimesale.serialNo}}</td>
										<!--<td>{{onetimesale.provserialnumber}}</td>
										<td>{{onetimesale.saleType}}</td>-->
										<td><!--<i class="{{data.status | StatusLookup}}"></i>-->{{onetimesale.hardwareAllocated}}</td>
									</tr>
								</tbody>
						</table>
					</div>
				</div>
				<div id="pane2" class="tab-pane" data-ng-class="{active: mydeviceC}">
					<div class="body"><br/>
						<table class="table body">
							<thead>
								<tr class ="bluebg drakbluebg">
									<th>{{'table.header.list.boxtype'|translate}}</th>
									<th>{{'table.header.list.stbsno'|translate}}</th>
									<!--<th>{{'table.header.list.proviseno'|translate}}</th>
									<th>{{'table.header.list.typeofconnection'|translate}}</th>-->
									<th>{{'table.header.list.status'|translate}}</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr class="pointer-main" data-ng-repeat="ownhardware in ownhardwares  | filter:filterText">
									<td style="padding-left: 25px;">{{ownhardware.itemType}}</td>
									<td data-ng-click="routeToOwnHardware(ownhardware.id)">{{ownhardware.serialNumber}}</td>
									<!--<td data-ng-click="routeToOwnHardware(ownhardware.id)">{{ownhardware.provisioningSerialNumber}}</td>
									<td data-ng-click="routeToOwnHardware(ownhardware.id)">&nbsp;&nbsp;&nbsp;OWN</td>-->
									<td>{{ownhardware.status}}</td>
									<td><a href="" data-ng-show="propertyMaster && !ownhardware.propertyCode" data-ng-click="allocateProperty(ownhardware.serialNumber,'own')"
										popover="Allocate Property" popover-trigger="mouseenter"><i class="icon-lock"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</tab>
	<!--  ============================deVice tab end=================================== -->
	
	<tab  class="tabclass" heading="Documents" select = "documnetsUploadsTabFun()">
	<input data-ng-model="filterText" type="text" placeholder="Search" class="filterText" style="margin-top: -25px;">
	<div id="pane4" class="tab-pane" data-ng-class="{active: documnetsUploadsTab}">
        <br/>
		<table class="table body" data-ng-show="(clientdocuments.length > 0)" style="margin-top: -10px;">
            <thead>
                <tr class ="bluebg drakbluebg">
                    <th>{{'table.heading.name' | translate}}</th>
                    <!--<th>{{'table.heading.description' | translate}}</th>-->
                    <th>{{'table.heading.filename' | translate}}</th>
                    <th>{{'table.heading.download' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="clientdocument in clientdocuments">
                    <td>{{clientdocument.name}}</td>
                    <!--<td>{{clientdocument.description}}</td>-->
                    <td>{{clientdocument.fileName}}</td>
                    <td>
                        <a data-ng-click="downloadDocument(clientdocument.id)" data-popover="Download Document" data-popover-trigger="mouseenter"><i class="fa fa-download"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="pull-right">
            <a href="#/addclientdocument/{{clientId}}" class="btn btn-primary" style="font-size: 12px;"><i class="fa fa-upload"></i>&nbsp;&nbsp;{{'button.documentuploads' | translate}}
            </a>
        </div> <br/><br/>
        
    </div>
    </tab>

<!-- <tab  class="tabclass" heading="Documents" select = "documnetsUploadsTabFun()">

        <div class="pull-right">
            <a href="#/addclientdocument" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'button.documentuploads' | translate}}
            </a>
        </div> <br/>
        <table class="table">
            <thead>
                <tr class ="bluebg drakbluebg">
                    <th>{{'table.heading.name' | translate}}</th>
                    <th>{{'table.heading.description' | translate}}</th>
                    <th>{{'table.heading.filename' | translate}}</th>
                    <th>{{'table.heading.actions' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="clientdocument in clientdocuments">
                    <td>{{clientdocument.name}}</td>
                    <td>{{clientdocument.description}}</td>
                    <td>{{clientdocument.fileName}}</td>
                    <td>
                        <a data-ng-click="downloadDocument(clientdocument.id)" data-popover="Download Document" data-popover-trigger="mouseenter"><i class="icon-cloud-download"></i></a>&nbsp;
                        <a data-ng-click="deletePopUp('',clientdocument.id,$index,'Delete Document')"
                            data-popover="Delete Document" data-popover-trigger="mouseenter"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
</tab> -->
	<!--  ============================ Statement tab ================================= -->
<!--  <tab
		style=" background-color: #85a4e0; padding-left: 30px; padding-right: 35px; border-left: 1px solid #ddd;border-right: 1px solid #ddd;  border-top-right-radius: 16px; border-bottom-right-radius: 16px;font-weight: bold;font-size: 18px;margin-right: -58px;"
		heading="Statement Details" select="StatementInfoController()">
	<div class="row-fluid ">
		<table class="table margintop10">
			<thead>
				<tr class="graybg drakgraybg">
					<th align="left" style="background-color: #85a4e0;">{{'table.header.list.accountno'|translate}}</th>
					<th style="background-color: #85a4e0;">{{'table.header.list.statementrefno'|translate}}</th>
					<th style="background-color: #85a4e0;">{{'table.header.list.statementdate'|translate}}</th>
					<th style="background-color: #85a4e0;">{{'table.header.list.duedate'|translate}}</th>
					<th style="background-color: #85a4e0;">{{'table.header.list.amount'|translate}}</th>
					<th style="background-color: #85a4e0;text-align: center;">{{'table.header.list.view'|translate}}</th>
					<th style="background-color: #85a4e0;">{{'table.header.list.download'|translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr
					data-ng-repeat="statement in statementsData.currentPageItems  | customFilter: filterText : ['accountNo','statementRefNo',
			            'statementDate','dueDate','action']">
					<td style="padding-left: 42px;">{{clientData.accountNo}}</td>
					<td style="padding-left: 30px;">{{statement.id}}</td>
					<td>{{statement.billDate}}</td>
					<td>{{statement.dueDate}}</td>
					<td style="padding-left: 15px;">{{statement.amount}}</td>
					<td style="padding-left: 55px;"><a data-ng-click="routeTostatement(statement.id)" class="btn btn-primary">{{'label.html' | translate}}</a></td>
					<td style="padding-left: 1px;"><a data-ng-click="downloadFile(statement.id)" class="btn btn-primary"><i class=" icon-download-alt icon-white"></i>{{'label.pdf' | translate}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	</tab> -->
	</tabset>
</div>
