<div data-ng-controller="AuthorizeNetRedirectionFailController" >
	<br/><br/><br/>
	<div class="span6">
			<h3><b class="marginleft10">{{'label.receiptpage'|translate}}</b></h3>
			<table class="table table-striped table-bordered fullwidth">
					<tr>
						<td width="40%">{{'label.paymentgateway.description' | translate}}</td>
						<td width="60%">{{Description}}</td>
					</tr>
					<tr>
						<td width="40%">{{'label.paymentgateway.amount' | translate}}</td>
						<td width="60%">{{Amount}}</td>
					</tr>
					<tr>
						<td width="40%">{{'label.paymentgateway.receiptNo' | translate}}</td>
						<td width="60%">{{TransactionId}}</td>
					</tr>
					<tr data-ng-hide='cardType == ""'>
						<td width="40%">{{'label.cardType' | translate}}</td>
						<td width="60%">{{cardType}}</td>
					</tr>
					<tr data-ng-hide='cardNumber == ""'>
						<td width="40%">{{'label.cardNumber' | translate}}</td>
						<td width="60%">{{cardNumber}}</td>
					</tr>
			  </table>
       </div>  
       <div class="control-group">
       <a>Please Wait to redirect........</a>
       </div>
</div>