<div data-ng-controller="AuthorizeGetController">
 <div class="alert alert-success">
	   <table><tr>
	   		<td><span><img src="../images/info-icon.png" width="30"></span></td>
        		<td><span><strong class="marginleft40" ><i class="icon-refresh icon-spin"></i>
        				{{'title.redirecting'|translate}}</strong><br/>
        			</span>
        		</td></tr>
	   </table> 
</div> 
<FORM NAME='formName' ID='formID' ACTION='https://test.authorize.net/gateway/transact.dll' METHOD='POST'>
      <INPUT TYPE='HIDDEN' NAME='x_login' VALUE="{{authdata.x_merchantId}}">
      <INPUT TYPE='HIDDEN' NAME='x_fp_sequence'  VALUE="{{authdata.x_fp_sequence}}">
      <INPUT TYPE='HIDDEN' NAME='x_fp_timestamp' VALUE="{{authdata.x_fp_timestamp}}">
      <INPUT TYPE='HIDDEN' NAME='x_fp_hash' VALUE="{{authdata.x_fp_hash}}">
      <INPUT TYPE='HIDDEN' NAME='x_version' VALUE='3.1'>
      <INPUT TYPE='HIDDEN' NAME='x_method' VALUE='CC'>
      <INPUT TYPE='HIDDEN' NAME='x_type' VALUE='AUTH_CAPTURE'>
      <INPUT TYPE='HIDDEN' NAME='x_amount' VALUE="{{authdata.x_amount}}">
      <INPUT TYPE='HIDDEN' NAME='x_show_form' VALUE='payment_form'>
      <INPUT TYPE='HIDDEN' NAME='x_test_request' VALUE='FALSE'>	
      <INPUT TYPE='HIDDEN' NAME='custom' VALUE="{{hostName}}">
      <INPUT TYPE='HIDDEN' NAME='x_cust_id' VALUE="{{clientId}}">
      <INPUT TYPE='HIDDEN' NAME='x_email' VALUE="{{clientData.email}}">
      <INPUT TYPE='HIDDEN' NAME='x_first_name' VALUE="{{clientData.displayName}}">
      <INPUT TYPE='HIDDEN' NAME='x_address' VALUE="{{clientData.addressNo}}">
      <INPUT TYPE='HIDDEN' NAME='x_city' VALUE="{{clientData.city}}">
      <INPUT TYPE='HIDDEN' NAME='x_state' VALUE="{{clientData.state}}">
      <INPUT TYPE='HIDDEN' NAME='x_zip' VALUE="{{clientData.zip}}">
      <INPUT TYPE='HIDDEN' NAME='x_country' VALUE="{{clientData.country}}">
      <INPUT TYPE='HIDDEN' NAME='x_phone' VALUE="{{clientData.phone}}">
      <INPUT TYPE='HIDDEN' NAME="x_rename" VALUE="x_first_name,Name">
      
     <!--  <INPUT TYPE=HIDDEN NAME="x_receipt_link_method" VALUE="LINK">
      <INPUT TYPE=HIDDEN NAME="x_receipt_link_text" VALUE="Click here to return to our home page">
      <INPUT TYPE=HIDDEN NAME="x_receipt_link_URL" VALUE="https://49.205.120.182:7893/obsplatform/api/v1/paymentgateways/authorize?tenantIdentifier=default"> -->
     
     <button id="authorize" type="submit" class="btn btn-primary" data-ng-hide="true">submit</button> 
</FORM>
</div>