<div ng-controller="EditTicketController">
	<div>
		
		<ul class="breadcrumb">
			<!-- <li><a href="#/clients">{{'link.clients' | translate}}</a> <span
				class="divider">/</span></li> -->
			<li><a href="#/tickets" ng-click="reset123()">{{'link.view.tickets'
					| translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.editticket' | translate}}</li>
		</ul>
	</div>
	<form name="editticketform" class="form-horizontal well"
		ng-submit="submit()">
		<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label> <label
				ng-show="errorStatus">{{errorStatus}}</label> <label
				ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code
				| translate}}</label>
		</div>
		<fieldset>
			<legend><strong>Edit Ticket</strong></legend>
			<table width="100%">
				<tr>
					<td width="25%">
						<div class="control-group">
							<label class="control-label" for="id">{{'label.ticket.issueid'| translate }}</label>
							<div class="controls">
								<input type="text" name="issueid" ng-model="formData.id"
									disabled value="{{ticket.id}}">
							</div>
						</div>
					</td>
					<td width="25%">
						<div class="control-group">
							<label class="control-label" for="status">
								{{'label.ticket.status' | translate }}<span class="required">*</span> </label>
							<div class="controls">
								<select ng-model="formData.status"
									ng-options="statusData.mCodeValue as statusData.mCodeValue for statusData in statusTypes"
									value="{{statusData.statusCode}}"></select>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="25%">
						<div class="control-group">
							<label class="control-label" for="assignedTo">{{'label.tickethistory.assignto'
								| translate }}<span class="required">*</span>
							</label>
							<div class="controls">
								<select ng-model="formData.userId" 
									ng-options="users.id as users.userName for users in usersData"
									data-ng-disabled="formData.status=='Closed'"
									value="{{users.id}}" required late-Validate></select>
							</div>
						</div>
					</td>
					<td width="25%">
						<div class="control-group">
							<label class="control-label" for="priority">{{'label.ticket.priority'
								| translate }}<span class="required">*</span>
							</label>
							<div class="controls">
								<select name="priority" ng-model="formData.priority"
									ng-options="priorityType.value as priorityType.value for priorityType in priorityTypes"
									data-ng-disabled="formData.status=='Closed'"
									value="{{priorityType.value}}" required late-Validate></select>
							</div>
						</div>
					</td>
				</tr>
				<tr><td width="25%">
						<div class="control-group">
							<label class="control-label" for="Category">
								{{'label.ticket.category' | translate }}<span class="required">*</span>
							</label>
							<div class="controls">
								<select name="category" ng-model="formData.problemCode"
									ng-options="problemsData.id as problemsData.mCodeValue for problemsData in problemsDatas"
									data-ng-disabled="formData.status=='Closed'"
									value="{{problemsData.problemCode}}" required late-Validate></select>
							</div>
						</div>
					</td>
					<td width="60%">
						<div class="control-group">
							<label class="control-label" for="Date">{{'label.ticket.date'
								| translate }}</label>
							<div class="controls">
								<input name="date" ng-model="formData.ticketDate" readonly
									value="{{data.ticketDate}}">
							</div>
						</div>
					</td>
				</tr>
			</table>
			</fieldset>
			<table>
				<tr>
					<td width="25%">
				         <div class="control-group">
							<label class="control-label" for="description">{{'label.ticket.shortdescription' | translate }}</label>
							<div class="controls">
							   <textarea data-ng-model="formData.statusDescription" name="description" value="{{data.statusDescription}}"
							        style="width:27%; height:2em;" readonly></textarea>
							</div>
						 </div>
					  </td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td width="100%">
						<div class="control-group">
							<label class="control-label" for="issue">{{'label.ticket.issue'| translate }} </label>
							<div class="controls">
								<textarea ng-model="formData.issue" name="issue" value="{{data.issue}}"
									style="width: 82%; height: 4em;" readonly ></textarea>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<table>
				<tr>
			        <td>
					   <div class="control-group" data-ng-show="formData.status=='Closed'">
						   <label class="control-label" for="description"> {{'label.ticket.resolutiondescription' | translate }}<span class="required">*</span></label>
						   <div class="controls">
							     <textarea ng-model="formData.resolutionDescription" style="width: 203%; height: 4em;" data-ng-disabled="formData.status=='Closed'" required late-Validate ></textarea>
						   </div>
					   </div>
				    </td>
				</tr>
			</table>
			<table>
				<tr>
					<td width="50%">
						<div class="control-group" data-ng-hide="formData.status=='Closed'">
							<label class="control-label" for="Comments">{{'label.ticket.comments' | translate }}</label>
							<div class="controls">
								 <a ng-click="comment()" class="btn btn-primary">Comment</a>
							</div>
						</div>
					</td>
					<td width="50%">
						<div class="control-group">
							<label class="control-label" for="Attachments">
								{{'label.ticket.file' | translate }}</label>
							<div class="controls">
								<input type="file" ng-file-select="onFileSelect($files)">
							</div>
						</div>
					</td>
				</tr>
			</table>
		<div class="pull-right">
			<a href="#/tickets"><button type="reset" class="btn"
					data-ng-click="reset123()">Cancel</button></a>
			<button type="submit" data-ng-disabled="!editticketform.$valid"
				class="btn btn-primary">Save</button>
			<!--  <a  ng-click="history()" class="btn btn-primary"><i class=" icon-repeat icon-white"></i> Terminate</a>  -->
		</div>
		<div class="row paddedleft">
    	<h3>&nbsp;&nbsp;&nbsp;<strong>{{'label.commenthistory' | translate}}</strong></h3>
     <table class="table">
         <thead>
            <tr class ="bluebg drakbluebg">
		        <th width="30%">{{'label.tickethistory.date' | translate}}</th>
		        <th>{{'label.tickethistory.commentedby' | translate}}</th>
		        <th>{{'label.tickethistory.comments' | translate}}</th>
	      </tr>
        </thead>
        <tbody>
            <tr ng-repeat="history in historyData  | filter:filterText" data-ng-hide="history.statusDescription=='undefined'">    
                <td>{{history.createdDate | date : 'dd/MM/yy'}}</td>  
                <td>{{history.assignedTo}}</td>
                <td>{{history.statusDescription}}</td>
            </tr>
        </tbody>
        </table>
    </div>
   	</form>
  </div>

<script type="text/ng-template" id="comment.html">
<div class="modal-header silver">
<div class="modal-body" style="height:285px;">
        	<div class="control-group">
				<div class="controls">
					<label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
				</div>	
			</div>
    <tr>
		<td width="50%">
			<div class="control-group" 
				data-ng-hide="formData.status=='Closed'">
				<label class="control-label" for="comments"><strong>{{'label.ticket.comments'| translate }}</strong></label>
				   <div class="controls">
					  <textarea ng-model="formData.comments" name="comments" value="{{data.comments}}"
						style="width: 95%; height: 8em;" ></textarea>
				   </div>
			</div>
		</td>
	</tr>
 </div>
   <div class="modal-footer">
          <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  <button id="submit" data-ng-disabled="commentform.$dirty && commentform.$invalid" ng-click="submit()" class="btn btn-primary">{{'label.confirm' | translate}}</button>
    </div>
</script>

