<div data-ng-controller="CreateTicketController">
	 <div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
        	<div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
        </div>
    </div>
	<div>
		<ul class="breadcrumb borderradius15">
			<li><a href="#/tickets" class="colorwhite">{{'link.tickets' | translate}}</a> <span class="divider colorwhite">/</span></li>
			<li class="active colorwhite">{{'label.ticket.add.newticket' | translate}}</li>
		</ul>
	</div>
<form name="createticketform" class="form-horizontal well"  ng-submit="submit()">
 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend> {{'label.creatticket' | translate}}</legend>
		<table width="100%">
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="Date"> {{'label.ticket.date' | translate }}<span class="required">*</span> </label>
						<div class="controls">
							<!-- <input type="text" id="eventName" ng-model="formData.ticketDate"> -->
							 <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
							 date-disabled="disabled(date, mode)" style="background-color:#FFFFFF; width:55%;" required late-Validate />
						</div>
					</div>
				</td>
				<td width="50%">
				     <div class="control-group">
						<label class="control-label" for="status">{{'label.ticket.status' | translate }}<span class="required">*</span></label>
						<div class="controls">
							<select name="status" ng-model="formData.status" 
								ng-options="statusType.mCodeValue as statusType.mCodeValue for statusType in statusTypes"
								value="{{statusType.ststusCode}}" style="width:60%;" required late-Validate></select>
						</div>
						</div>
				</td>
			</tr>
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="issueid">{{'label.ticket.issueid' | translate }}</label>
						<div class="controls">
							<input type="text" name="issueid" ng-model="formData.issueid" readonly 
								ng-options="issueidType.value as issueidType.value for issueidType in issueidType"
								value="{{issueidType.value}}" style="width:55%;" >
						</div>
					</div>
				</td>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="priority">{{'label.ticket.priority' | translate }}<span class="required">*</span></label>
						<div class="controls">
							<select name="priority" ng-model="formData.priority" 
								ng-options="priorityType.value as priorityType.value for priorityType in priorityTypes"
								value="{{priorityType.value}}" style="width:60%;" required late-Validate></select>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="Category"> {{'label.ticket.category' | translate }}<span class="required">*</span></label>
						<div class="controls">
							<select name="category" ng-model="formData.problemCode";"
								ng-options="problemsData.id as problemsData.mCodeValue for problemsData in problemsDatas"
								value="{{problemsData.problemCode}}" style="width:60%;" required late-Validate></select>
						</div>
					</div>
				</td>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="assignedTo"> {{'label.ticket.assignto' | translate }}<span class="required">*</span></label>
						<div class="controls">
							<select ng-model="formData.assignedTo" disabled 
								ng-options="usersData.id as usersData.userName for usersData in usersDatas"
								value="{{usersData.id}}" style="width:60%;" required late-Validate></select>
						</div>
					</div>
				</td>
			</tr>
		</table>
			</fieldset>
		<table>
			<tr>      
			    <td width="50%">
			        <div class="control-group">
						<label class="control-label" for="description">{{'label.ticket.shortdescription' | translate }}<span class="required">*</span></label>
						<div class="controls">
							    <textarea data-ng-model="formData.description" name="description" style="width:28%; height:2em;" required late-Validate ></textarea>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table>
			<tr>
			     <td width="50%">
			        <div class="control-group">
						<label class="control-label" for="statusDescription">{{'label.ticket.issue' | translate }}<span class="required">*</span></label>
						<div class="controls">
							    <textarea  data-ng-model="formData.statusDescription" name="issue" style="width:107%; height:4em;" required late-Validate></textarea>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table>
			<tr>      
			    <td width="50%">
					<div class="control-group">
						<label class="control-label" for="Attachments"> {{'label.ticket.file' | translate }}</label>
						<div class="controls">
							<input type= "file" ng-file-select="onFileSelect($files)">
						</div>
					</div>
				</td>
				<td>
				    <div class="pull-right">
			           <a href="#/tickets"><button type="reset" class="btn" ng-click="reset123()">Cancel</button></a>
			           <button type="submit" ng-disabled="!createticketform.$valid" class="btn btn-primary">Save</button>
		           </div>
				</td>
			</tr>
	    </table>
		  <!-- <div class="pull-right">
			<a href="#/tickets"><button type="reset" class="btn" ng-click="reset123()">Cancel</button></a>
			<button type="submit" ng-disabled="!createticketform.$valid" class="btn btn-primary">Save</button>
		  </div> -->
  </form>
</div>
