<div data-ng-controller="OrderServiceController"> 

    <h3><strong>Services</strong></h3>
	
	<div class="paddedbottom10 margintop10 body">
          
		<table id="services" class="table margintop10">
			<thead>
				<tr class ="bluebg drakbluebg">
					<th width="200px">Reference</th>
					<th width="200px">Product</th>
                    <th width="200px">Contract period</th>
					<th width="200px">Start date</th>
					<th class="alignRight">Price</th>
					 <!--<th class="alignRight" width="200px">Action</th> -->
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="order in orders">
					<td>{{order.orderNo}}</td>
					<td>{{order.planCode}}</td>
                    <td>{{order.contractPeriod}}</td>
                    <td>{{order.startDate | DateFormat}}</td>
                    <td class="alignRight" width="200px" >{{order.price | CustomCurrency :'£'}}</td>
		<!--	<td class="alignRight">
                        
                        <span ng-show="wifiDetails=='true' && (order.planCode=='u-mee plus' || order.planCode=='u-mee home' || order.planCode=='u-mee fam1' || order.planCode=='u-mee fam2')">
                        <a data-ng-show="true" data-ng-click="viewwifidetails(order.orderNo,scope.clientId)"><i class="fa fa-map-marker fa-fw" style="margin-right:5px"></i>Wifi</a>
                        </span>
                    </td> -->
				
				</tr>
			</tbody>
		</table>
		</div>

        
        
        
	<script type="text/ng-template" id="actionPopup.html">
        	<div class="modal-header silver">
        	<h3 class="bolder">Confirmation</h3>
        </div>

        <div class="modal-body">
            <h4>Continue with upgrade?</h4>
            <font style="font-weight:bold">u-mee plus</font>
            <br/>
            <font style="font-style: italic;">(300Mbps fibre broadband + TV + extra TV recordings+ landline<br/>+ TV+Go for three devices)</font> - <font style="font-weight:bold">&pound;59/month</font>
        </div>

        <div class="modal-footer">
            <button class="btn" ng-click="cancel()">Back</button>
            <button class="btn btn-primary btn-color" ng-click="approve()">{{'label.confirm' | translate}}</button>
        </div>
   </script>
   
   
   
   <script type="text/ng-template" id="actionPopupTVGo.html">
        	<div class="modal-header silver">
        	<h3 class="bolder">Confirmation</h3>
        </div>

        <div class="modal-body">
            <h4>Continue with upgrade?</h4>
            <font style="font-weight:bold">u-mee TV+Go</font>
            <br/>
            <font style="font-style: italic;">(HD TV over Wi-Fi or 3G/4G Internet on one set-top-box or smartphone/tablet app)</font> - <font style="font-weight:bold">&pound;15/month</font> 
        </div>

        <div class="modal-footer">
            <button class="btn" ng-click="cancel()">Back</button>
            <button class="btn btn-primary btn-color" ng-click="approve()">{{'label.confirm' | translate}}</button>
        </div>
   </script>
   
	<script type="text/ng-template" id="wifidetails.html">
    	<div class="modal-header silver">
        	<h3 class="bolder">Wifi Details</h3>
        </div>
        <div class="modal-body" style="height:142px;">
        	<div class="control-group">
       			<!-- <div class="controls">
					<span class="control-label" style="color:red;" ng-show="stmError.length>0">{{stmError | translate}}</span>
                </div> -->
			</div>
        <div class="control-group">
		    <div class="span6">
			  <table >
				<tr>
					<td width="40%"><strong>OrderId :</strong></td>
            		<td>
            		<input type="text" name="orderId" ng-model="orderId" placeholder="Enter value here" readonly />
                    </td>
				</tr>
				<tr>
					<td width="40%"><strong>SSID :</strong></td>
                    <td>
                    <input type="text" name="ssid" ng-model="ssid" placeholder="Enter value here" readonly/>
                    </td>
				</tr>
				<tr>
					<td  width="40%"><strong>Wifi Password :</strong></td>
                    <td>
                  <input ng-show="showpassword" type="text" ng-model="wifiPassword" readonly>
                  <input ng-hide="showpassword" type="password" ng-model="wifiPassword" readonly><br>
				   </td>
				</tr>
                <tr>
					<td width="40%"></td>
                    <td>
                     <span class="control-label" style="color:green;" > Show Password : <input type="checkbox" ng-model="showpassword" ng-checked="false">
				      </span>
				   </td>
				</tr>	
		       </table>
	          </div>
		</div>  
        </div>
        <div class="modal-footer">
        	<button id="cancel"  class="btn btn-primary  btn-color" ng-click="rejectWifi()">{{'button.cancel' | translate}}</button>
            <!--<button id="submit" class="btn btn-primary btn-color" ng-click="acceptWifi(ssid,wifiPassword)">{{'label.confirm' | translate}}</button> -->
        </div>
	</script>

   
   
   
    <div id="upgradePlus" data-ng-show = "isButtonsEnable && !isFlag"> 
    
        <h3><strong>Available upgrades</strong></h3>    
    
        <font style="font-weight:bold">u-mee plus</font> <font style="font-style: italic;">(300Mbps fibre broadband + TV + extra TV recordings + landline + TV+Go for three devices)</font> - <font style="font-weight:bold">&pound;59/month*</font>
        &nbsp;<a href="https://u-mee.com/plus59" target="_blank" style="text-decoration:underline">More info</a>
        <br/>
        <a id="btnUpgradePlus" class="btn btn-primary pull-left ng-binding btnPink" data-ng-click="perFormAction(orderValueId,planId,planCode,'PLUS')" data-popover-trigger="mouseenter" style="margin-top: 10px;">
            <i class="fa fa-plus"></i>&nbsp;&nbsp;Upgrade to u-mee plus!
        </a>    
    </div>

    <div id="upgradeTvGo" style="float:left; margin-top:25px;" data-ng-show = "isButtonsEnable && !isFlag">
        <font style="font-weight:bold">u-mee TV+Go</font> <font style="font-style: italic;">(HD TV over Wi-Fi or 3G/4G Internet on one set-top-box or smartphone/tablet app)</font> - <font style="font-weight:bold">&pound;15/month*</font> 
		&nbsp;<a href="https://u-mee.com/tv+go" target="_blank" style="text-decoration:underline">More info</a>
        <br/>
        
        <a id="btnUpgradeTvGo" class="btn btn-primary pull-left ng-binding btnPink" data-ng-click="perFormAction(orderValueId,planId,planCode,'TV+GO')" data-popover-trigger="mouseenter" style="margin-top: 10px;">
            <i class="fa fa-plus"></i>&nbsp;&nbsp;Get u-mee TV+Go!
        </a>   
        <br/><br/><br/>
        *Upgrades are activated immediately or as soon as possible (depending on products). You will be charged for the remainder of the month, after which the monthly fee shall be invoiced with your other u-mee products.
    </div>
    
   
       
 </div>
 
