<div data-ng-controller="PayInvoiceController">
	 <div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
        	<div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
        </div>
    </div>
	<div>
		<ul class="breadcrumb borderradius15">
			<li><a href="#/shops" class="colorwhite">Shops</a> <span class="divider colorwhite">/</span></li>
			<li class="active colorwhite">Pay Invoice</li>
		</ul>
	</div>
<form name="payInvoiceForm" class="form-horizontal well" novalidate data-ng-submit="submit()">
	<br/>
    <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
    </div>
		<fieldset>
		<table>
			<tr>
				<td valign="top" colspan="2" class="text-center">
          			<div class="control-group" style="margin-bottom:30px;">
          			   <div class="controls">
		                 <input  id="useWalletAmount" type="checkbox" name="useWalletAmount"  data-ng-change="selectedWalletAmountUse(useWalletAmount)"  data-ng-model="useWalletAmount"
				  					 style="padding-left:20px;"/>&nbsp;&nbsp;Use your {{walletAmount}} wallet pay balance&nbsp;&nbsp;
          			   </div>
      				</div>
       			</td>
       		</tr>
       		<tr>
				<td valign="top" colspan="2" style="padding-left:25%">
          			<div class="control-group" style="margin-bottom:30px;">
          			   <label class="control-label">Selected Office</label>
          			   <div class="controls">
		                 <input type="text" id="officeName" name="officeName" 
             						data-ng-model="selectedOffice" ng-disabled="true">
          			   </div>
      				</div>
       			</td>
       		</tr>
			<tr>
				<td valign="top">
          			<div class="control-group" style="margin-bottom:30px;">
          			   <label class="control-label">Payment Date&nbsp;<span class="required">*</span></label>
          			   <div class="controls">
		                 <input id="dateid" type="text"  data-datepicker-pop="dd MMMM yyyy" 
             				data-ng-model="start.date" data-is-open="opened2" min="minDate" max="maxDate"  data-date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  disabled required data-late-Validate/>
          			   </div>
      				</div>
       			</td>
       			<td valign="top">
          			<div class="control-group" style="margin-bottom:30px;">
          			   <label class="control-label">Payment Type&nbsp;<span class="required">*</span></label>
          			   <div class="controls">
		                 <select id="paymenttypeval" data-ng-model="formData.paymentCode" 
             					data-ng-options="data.id as data.mCodeValue for data in data" 
             					 		value="{{data.id}}" data-ng-change="paymentTypeData(formData.paymentCode)" required data-late-Validate></select>
          			   </div>
      				</div>
       			</td>
	       		
			</tr>
			<tr>
				<td valign="top">
      			  <div class="control-group" style="margin-bottom:30px;">
          			<label class="control-label">Amount&nbsp;<span class="required">*</span></label>
       				<div class="controls">
       				  <input type="text" id="amountPaid" name="amountPaid" data-ng-model="formData.amountPaid" data-ng-change="amountChange(formData.amountPaid)" required data-late-Validate/>
             			<div ng-show="useWalletAmount">Total Amount : {{totalPaidAmount}}</div>
       				</div>
      			  </div>
	       		</td>
	       		<td valign="top">
          			<div class="control-group" style="margin-bottom:30px;">
          			   <label class="control-label">Receipt No</label>
          			   <div class="controls">
		                 <input type="text" id="receiptNo" name="receiptno" 
             						data-ng-model="formData.receiptNo">
          			   </div>
      				</div>
       			</td>
			</tr>
			<tr>
				<td valign="top">
          			<div class="control-group" style="margin-bottom:30px;">
          			   <label class="control-label">Notes</label>
          			   <div class="controls">
		                 <textarea class="form-control" data-ng-model="formData.remarks"></textarea>
          			   </div>
      				</div>
       			</td>
			</tr>
		   <tr><td colspan="2" align="right">
			<a id="cancel" href="#/shops"><button type="reset" class="btn">{{'btn.cancel' | translate}}</button></a>
			<button id="submit" type="submit" class="btn btn-primary" data-ng-disabled="!payInvoiceForm.$valid">{{'btn.save' | translate}}</button>
		</td></tr></table>

	</fieldset>
    </form>
</div>
</div>
