 <div data-ng-controller="ProfileController">
 
    <h3><strong>{{'link.profile'|translate}}</strong></h3>
 
	<div class="loading-widget-div" data-ng-show="blockUI">
		<div id="circularG">
			<div id="circularG_1" class="circularG"></div>
			<div id="circularG_2" class="circularG"></div>
			<div id="circularG_3" class="circularG"></div>
			<div id="circularG_4" class="circularG"></div>
			<div id="circularG_5" class="circularG"></div>
			<div id="circularG_6" class="circularG"></div>
			<div id="circularG_7" class="circularG"></div>
			<div id="circularG_8" class="circularG"></div>
		</div>
	</div>
	<div  style=" width:980px; overflow:hidden; text-align:justify; margin-bottom:10px;margin-top:10px;">
		<div id="left part"  style="float:left; width: 900px; display:inline-block;">
			<div style="padding:100 100px; font-size: 14px;">
				<div class="span6">
                    <a href="#/editprofile/{{clientId}}" class="tabicons pull-right" title="Edit Profile"><i class="fa fa-edit" ></i></a>
					<table class="table table-striped table-bordered fullwidth tProfile">
						<tr>
							<td width="35%">Referal Id</td>
							<td width="65%">{{clientData.externalCode}}</td>
						</tr>	
						<tr>
							<td>Created</td>
							<td>{{clientData.activationDate | DateFormat}}</td>
						</tr>
                        <tr>
							<td>Name</td>
							<td>{{clientData.displayName}}</td>
						</tr>
						<tr>
							<td>{{'table.header.profile.mobilenumber'|translate}}</td>
							<td>{{clientData.phone}}</td>
						</tr>
						<tr>
							<td>{{'table.header.profile.email'|translate}}</td>
							<td>{{clientData.email}}</td>
						</tr>
						<tr>
							<td>Office</td>
							<td>{{clientData.officeName}}</td>
						</tr>
					</table>
				</div>	
				<div class="span5" style="float:right;">
                    <div class="subheader" style="margin-bottom: 0; padding-bottom: 5px;">
                        <strong>Wallet</strong>  
                    </div>
					<table class="fullwidth">
						<tr>
                            <td>
                                <h3 style="text-transform: uppercase;">
                                    <b style="color: #555555; font-size: 25px; margin-left: 5px;"> {{clientData.walletAmount | CustomCurrency :'₹'}}</b>
                                </h3>
                            </td>
                        </tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="deletecarddetails.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Disable AutoPayment</h3>
                    </div>
                    <div class="modal-body" style="height:60px;">
                       <h3 align="left">{{'label.confirm.msg' | translate}}</h3>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary btn-color" ng-click="approveDisableAutoPayment()">{{'label.confirm' | translate}}</button>
                    </div>
</script>
<script type="text/ng-template" id="deletecarddetailsworldpay.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Disable AutoPayment</h3>
                    </div>
                    <div class="modal-body" style="height:60px;">
                       <h3 align="left">{{'label.confirm.msg' | translate}}</h3>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary btn-color" ng-click="approveDisableAutoPayment()">{{'label.confirm' | translate}}</button>
                    </div>
</script>

</div>
