<div data-ng-controller="StatementsController">
    <h3><strong>{{'label.bill.statements'|translate}}</strong></h3>
		 <!-- <hr class="marginbottom" /> -->
         
    <input data-ng-model="filterText" type="text" placeholder="Search" class="filterText">     
         
	<tabset>
	<!--  ============================ Account Profile tab ================================= -->
	<tab class="tabclass" heading="Invoices" select="invoicesTabSelFun()">
		<!--<div class="body"><br>
		&nbsp;&nbsp;&nbsp;<strong>Details of your Monthly Statement are given below</strong>
		<br></div>-->
	<!-- <div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
        	<div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
        </div>
    </div> -->
	<div class="paddedbottom10 margintop10 body">
          
		<table class="table margintop10">
			<thead>
				<tr class ="bluebg drakbluebg">
					<!--<th align="left">{{'table.header.list.accountno'|translate}}</th>-->
					<th width="200px">{{'table.header.list.statementdate'|translate}}</th>
					<th width="200px">{{'table.header.list.duedate'|translate}}</th>
                    <th width="150px">{{'table.header.list.statementrefno'|translate}}</th>
					<th class="alignRight">{{'table.header.list.amount'|translate}}</th>
					<th class="alignActions">Actions</th>
					<!--<th>{{'table.header.list.download'|translate}}</th>
					<th width="100px">{{'table.header.list.pay'|translate}}</th>-->
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="statement in statementsData.currentPageItems  | filter:filterText: ['accountNo','statementRefNo','statementDate','dueDate','action']">
					<!--<td style="padding-left: 42px;">{{clientData.accountNo}}</td>-->
					<td>{{statement.billDate}}</td>
					<td>{{statement.dueDate}}</td>
                    <td>{{statement.id}}</td>
					<td class="alignRight">{{statement.amount | CustomCurrency :'£'}}</td>
					<td class="alignActions">
                        <!--<a data-ng-click="routeTostatement(statement.id)" data-popover="View Statement" data-popover-trigger="mouseenter"><i class = "fa fa-file-text-o"></i></a>
                        &nbsp;-->
                        <a data-ng-click="downloadFile(statement.id,statement.billDate)" data-popover="Download Statement - PDF" data-popover-trigger="mouseenter"><i class="fa fa-download"></i></a>
                        &nbsp;
                        <a data-ng-if="statement.amount > 0 && statement.isPaid == 'N' && balanceAmount > 0" data-ng-click="payment(statement.amount,statement.id)" data-ng-show="$first" data-popover="Pay"><i class="fa fa-credit-card" style="margin-right:5px"></i>{{'table.header.list.pay'|translate}}</a>
                        <!--<a data-ng-if="statement.amount > 0 && statement.isPaid == 'N'" data-ng-click="payment(statement.amount,statement.id)" data-ng-show="$first" data-popover="Pay" data-popover-trigger="mouseenter"><i class="icon-usd icon-large icon-white"></i></a>&nbsp;-->
                        
                    </td>
				</tr>
			</tbody>
		</table>
		<!-- <div><table class="table margintop10">
		 <thead>
  		   <tr class="graybg drakgraybg">
             <th>{{'table.header.statement.billdate'|translate}}</th>
             <th>{{'table.header.statement.duedate'|translate}}</th>
             <th>{{'table.header.statement.amount'|translate}}({&pound;})</th>
             <th>{{'header.actions'|translate}}</th>
        	</tr>
		 </thead>
		 <tbody>
			<tr data-ng-repeat="statement in statementsData.currentPageItems  | customFilter: filterText : ['billDate','dueDate','amount']" >                 
   				<td style="font-weight: inherit;color: #555555;">{{statement.billDate}}</td>
   				<td>{{statement.dueDate}}</td>
   				<td>{{statement.amount}}</td>
   				<td style="padding-left: 0px;">
   					<a data-ng-click="routeTostatement(statement.id)" data-popover="View Statement" data-popover-trigger="mouseenter"><i class = "icon-eye-open icon-large icon-white"></i></a>&nbsp;
   					<a data-ng-click="downloadFile(statement.id)" data-popover="Download Statement" data-popover-trigger="mouseenter"><i class=" icon-download-alt icon-large icon-white"></i></a>&nbsp;
   					<a data-ng-if="statement.amount > 0 && statement.isPaid == 'N'" data-ng-click="payment(statement.amount,statement.id)" data-popover="Pay" data-popover-trigger="mouseenter"><i class="icon-usd icon-large icon-white"></i></a>&nbsp;
  				</td>
			</tr>
		</tbody>
 	   </table></div> -->
 	   <ul class="pager">
			<li class="previous"><a data-ng-click="statementsData.previous()" data-ng-disabled="!statementsData.hasPrevious()">&larr;{{'btn.previous'|translate}}</a></li>
			<li class="next" ><a data-ng-click="statementsData.next()" data-ng-disabled="!statementsData.hasNext()">{{'btn.next'|translate}} &rarr;</a></li>
       </ul>
	</div>
	</tab>
    
    
	<tab class="tabclass" heading="{{'link.transactionhistory'|translate}}" select="transactionsTabSelFun()">
		<!--<div class="body"><br>
		&nbsp;&nbsp;&nbsp;<strong>Details of your last five transactions are given below</strong>
		<br></div>-->
	 	<div class="paddedbottom10 margintop10 body">
		   <div>
                <table class="table margintop10">
				  <thead>
				        <tr class ="bluebg drakbluebg">
				             <th width="200px">{{'table.header.payment.transactiondate'|translate}}</th>
				             <th width="200px">{{'table.header.payment.transactiontype'|translate}}</th>
				             <th width="150px">{{'table.header.payment.transactioncategory'|translate}}</th>
				             <th class="alignRight">{{'table.header.payment.creditamount'|translate}}</th>
				             <th class="alignRight">{{'table.header.payment.debitamount'|translate}}</th>
                        </tr>
				     </thead>
			        <tbody>
			            <tr data-ng-hide="(payment.transactionType == 'DEPOSIT&REFUND')" data-ng-repeat="payment in paymentsData.currentPageItems  | filter:filterText : ['transDate','transactionType','transactionCategory','creditAmount','amount']" >
			                <td>{{payment.transDate}}</td>
			                <td>{{payment.transactionType}}</td>
			                <td>{{payment.transactionCategory}}</td>
			                <td class="alignRight">{{payment.creditAmount | CustomCurrency :'£'}}</td>
			                <td class="alignRight">{{payment.amount | CustomCurrency :'£'}}</td>
                            
			            </tr>
			        </tbody>
			    </table></div>
		    <ul class="pager">
				<li class="previous"><a data-ng-click="paymentsData.previous()" data-ng-disabled="!paymentsData.hasPrevious()">&larr;{{'btn.previous'|translate}}</a></li>
				<li class="next" ><a data-ng-click="paymentsData.next()" data-ng-disabled="!paymentsData.hasNext()">{{'btn.next'|translate}} &rarr;</a></li>
	    	</ul>
		</div>
	</tab>
    
    
	<tab class="tabclass" heading="Deposit details" select="depositsTabSelFun()">
		<!--<div class="body"><br>
		&nbsp;&nbsp;&nbsp;<strong>Details of your Deposits are given below</strong>
		<br></div>-->
	 	<div class="paddedbottom10 margintop10 body">
			<div>
                <table class="table margintop10">
				  <thead>
				        <tr class ="bluebg drakbluebg">
                             <th width="200px">Transaction date</th>
                             <th width="200px">Id</th>                             
                             <th class="alignRight">Debit amount</th>
                             <th class="alignActions">Actions</th>
			            	</tr>
				     </thead>
			        <tbody>
			            <tr  data-ng-repeat="depositData in depositsDatas.currentPageItems  | orderBy:'-transactionId' | filter:filterText : ['transDate','transactionType','transactionCategory','creditAmount','amount'] " >
			                <td width="200px">{{depositData.transDate | DateFormat}}</td>
                            <td width="200px">{{depositData.transactionId}}</td>                            
                            <td class="alignRight">{{depositData.amount | CustomCurrency :'£'}}</td>
                            <td class="alignActions"><a data-ng-hide="depositData.flag" data-ng-click="depositPayment(depositData.amount,depositData.transactionId)" data-popover="Pay"><i class="fa fa-credit-card" style="margin-right:5px"></i>{{'table.header.list.pay'|translate}}</a>
                            </td>			           
			            </tr>
			        </tbody>
			    </table></div>
		</div>
	</tab>
	</tabset>
</div>
